.grid {
    display: grid;
    justify-items: start;
    grid-template-columns: max-content auto;
    column-gap: 0.5em;
    align-items: center;
}

.grid > label {
    grid-column: 1;
}

.grid > input, .grid > select {
    grid-column: 2;
}
