.LoginBar {
    background-color: #039be5;
    border-bottom: 1px solid black;
    padding: 0.2em;
}

.LoginBar .userLabel {
    margin-right: 0.3em;
}

@media only screen and (max-width: 35em) {
    .LoginBar .userLabel {
        display: none;
    }
}

.LoginBar .userName {
    font-weight: bold;
}

.LoginBar .login,
.LoginBar .logout {
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.LoginBar .languageSelector {

}

.LoginBar .vocabAdders span {
    margin: 0 0.3em;
    cursor: pointer;
}
