body {
  background: #eae;
  font-size: 30pt;
  font-family: sans-serif;
}

.heading {
  margin: 0.3em 0.2em;
}

.challenge {
  font-size: 50pt;
  margin: 0.3em 0.2em;
}

.response, input[type="submit"] {
  font-size: 30pt;
}

.message-correct, .message-incorrect, .message-give-up {
  margin: 0.3em 0.2em;
}

/* vi: set sw=2 et : */
