.vocabTypeLabel {
    background-color: #090;
    color: white;
    width: max-content;
    border-radius: 0.2em;
    padding: 0.2em;
    margin-left: -0.2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.vocabTypeLabel[data-vocabtype="verbum"] {
    background-color: #093;
    color: white;
}

.vocabTypeLabel[data-vocabtype="adjektiv"] {
    background-color: #909;
    color: white;
}

.vocabTypeLabel[data-vocabtype="substantiv"] {
    background-color: #00c;
    color: white;
}

.vocabTypeLabel[data-vocabtype="udtryk"] {
    background-color: #000;
    color: white;
}

@media only screen and (max-height: 22em) {
    .vocabTypeLabel {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}
